{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoList App</title>
    <link
      rel="stylesheet"
      href="{% static 'todolist/bs/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'todolist/style.css' %}" />
  </head>

  <body>
    <div class="container" id="content">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <h1>What to do today</h1>
        </div>
      </div>
      <div class="row">
        <form method="POST" role="form">
          {% csrf_token %}
          <div class="input-group mb-3 mx-3">
            {{form.text}}
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">Add</button>
            </div>
          </div>
        </form>
      </div>
      <a href="{%url 'deletecompleted'%}"><button type="button" class="btn btn-warning">Delete Completed</button></a>
      <a href="{%url 'deleteall'%}"><button type="button" class="btn btn-danger">Delete All</button></a>
      <ul class="list-group mt-3">
        {% for todolist in todo_list %} {% if todolist.completed %}
        <li class="list-group-item todo-completed">{{todolist.text}}</li>
        {% else %}
        <a href="{% url 'completed' todolist.id %}" class="list-group-item">{{todolist.text}}</a>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </body>
</html>